<div class="hero-unit">
<h1>First page of one month rails</h1>
<p>
	You've found the page for the blag blagh <%= link_to "One Month Rails", "http://onemonthrails.com" %> app.
</p>
<p>
	<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large span2" %>
</p>

</div>